{% extends 'base.html.twig' %}

{% block title %}Hello FindRangeController!{% endblock %}

{% block body %}
<div class="value-input">
    <p id="value-id"></p>
    <div>
        <input type="number" class="user-input"/>
    </div>
</div>
{% endblock %}
